.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  min-width: 500px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.menu {
  margin-top: 50px;
  margin-bottom: 50px;
}


