
<div class="app">
  <h1 class="mat-display-3">Hogwarts Challenge</h1>
  <mat-card class="menu">
    <button mat-button routerLink="houses" routerLinkActive="active">Casas</button>  
    <button mat-button routerLink="students" routerLinkActive="active">Estudiantes</button>  
    <button mat-button routerLink="staff" routerLinkActive="active">Profesorado</button> 
    <button mat-button routerLink="request" routerLinkActive="active">Aplicaciones</button> 
  </mat-card>

  <router-outlet></router-outlet>
</div>